.content {
  min-height: calc(100vh - 70.5px - 70.5px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem
}
.search {
  display: flex;
  align-items: center;
}

.search__input {
  border: 0;
  width: 100%;
  height: 50px;
  padding: 5px;
  margin: 10px 0;
  background: #ccc;
}

.search__button {
  height: 50px;
  width: 100px;
  border: 0;
  background: #e12e1c;
  color: #fff;
}